footer {
    @include verticalCenter;
    display: flex;
    flex-direction: column;
    background-color: $color-3;
    width: 100%;
    height: 150px;
    position:absolute;
    bottom:0 auto;  /* on le colle en bas */
    font-family: "Montserrat", sans-serif;
}

h3 {
    margin-left: 10px;
    color: $white;
}

img.kasafooter {
    margin-bottom: 5px;
    margin-top: 30px;
}