.section_logo {
  width: 100%;
  background-color: $white;
  height: 250px
}

.logo {
  @include verticalCenter;
  margin: auto;
  width: 90%;
  height: 225px;
  border-radius: 20px;
  padding: auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.307);
  background: url(../../assets/img/Falaise.png) center/cover;
  margin-top: 100px;

  h3 {
    margin-left: 10px;
    color: $white;
    font-size: 50px;

  }
}