.navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-content: space-between;
      height: 100px;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      background-color: $white;
      
      .ul_nav {
      display: flex;
      gap: 50px;
      margin: 0;
      padding: 0;
      margin-right: 150px;
      
      }
}
.navbar a {
      text-decoration: none;
      color: $color-2;
}
.navbar a:hover {
      text-decoration: underline;
}
.navbar a.active {
  text-decoration: underline;
}
img.kasa {
      width: 70%;
      margin-left: 100px;
}
.none {
      display: none;
}


@media only screen and (width <= 768px) {
     
      img.kasa {
            width: 70%;
            margin-left: 50px;
      }




     
}
