.navbar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 50px;
      height: 100px;
      margin-right: 4%;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      background-color: $white;
}
.navbar a {
      text-decoration: none;
      color: $color-2;
}
.navbar a:hover {
      text-decoration: underline;
}
.navbar a.active {
  text-decoration: underline;
}
img.kasa {
      width: 70%;
}



/*
@media only screen and (width <= 750px) {
      .navbar {
            width: 130px;
            padding: 0;
            margin-right: 17px;
            gap: 0;
      }
      .navbar a {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            min-width: 300px;
      }
}
*/