.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white ;
    margin-top: 50px;
    gap: 50px;

    &_img {
        width: 597px;
        height: 263px;
    }

    &_h3 {
        display: flex;
        color: $color-2;
        font-size: 36px;
        font-family: "Montserrat", sans-serif;

    }

    &_h4 {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: $color-2;
        text-decoration: underline;
        margin-bottom: 50px;
    }
    
}

div.back:hover {
    text-decoration: underline;
}

div.back.active {
    text-decoration: underline;
}

@media screen and (max-width:1240px) {

}

@media screen and (max-width:768px) {

    .error_img {
        width: 200px;
        height: 100px;
    }
    .error_h3 {
        font-size: 15px;
        font-weight: 500;
    }
    .error_h4 {
        font-size: 14px;
        font-weight: 500;
    }
    
}