header {
      display: flex;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
}
.img_kasa {
      width: 100%;
}

.navbar {
      @include verticalCenter;
      display: flex;
      height: 125px;
      font-family: "Montserrat", sans-serif;
      background-color: $white;
      justify-content: space-between;
      flex-grow: 1;
      font-size: 24px;

      .ul_nav {
            display: flex;
            gap: 50px;
            
            padding: 0;
      }

      & a {
            text-decoration: none;
            color: $color-2;
      }

      & a:hover {
            text-decoration: underline;
      }

      & a.active {
            text-decoration: underline;
      }
      
}


.none {
      display: none;
}

@media screen and (max-width:768px) {
      .img_kasa {
            width: 60%;
      }

      .navbar {
            display: flex;
            font-size: 14px;
      }

}