.navbar {
      @include verticalCenter;
      display: flex;
      width: 1240px;
      height: 100px;
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      background-color: $white;
      gap: 550px;
      
      .ul_nav {
      display: flex;
      gap: 50px;
      
      }
}
.navbar a {
      text-decoration: none;
      color: $color-2;
}

.navbar a:hover {
      text-decoration: underline;
}

.navbar a.active {
  text-decoration: underline;
}

img.kasa {
      width: 210px;
      height: 68px;
      
}
.none {
      display: none;
}

@media only screen and (width <= 768px) {
     
}
