$color-1: #61dafb;
$color-2: salmon;
$color-3: black;
$color-4:var(--red);;
$white: rgb(255, 255, 255);
$grey : rgba(231, 229, 229, 0.952);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $white;
  margin: 0;

}

li {
  list-style-type: none;
}