$color-1: #61dafb;
$color-2: #FF6060;
$color-3: black;
$color-4: var(--red);
;
$white: rgb(255, 255, 255);
$grey : rgba(231, 229, 229, 0.952);

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  background: $white;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  position: relative;
  background-color: black;

}

.location {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

.main_home, .location {
  width: 100%;
  background-color: white;
}

@media screen and (max-width:768px) {

  html, body {
    width: 375px;
    margin-left: auto;
      margin-right: auto;
    height: 100%;
  }

  .main_home {
    width: 375px;
    margin: 0 auto;
  }

}