.gallery {
    width: 90%;
    margin: 0 auto;
}




@media only screen and (width <=768px) {

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid_item {
        width: 340px;
    }



}