.gallery {
    @include verticalCenter;
    display: flex;
    margin: 0 auto;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin-bottom: 20px;

    &_article {
        position: relative;
        display: inline-block;
    }

    &_img {
        object-fit: cover;
        width: 340px;
        height: 340px;
        border-radius: 20px;
        box-shadow: 1px 1px 5px grey;
    }

    &_title {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        color: $white;
        display: block;
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        width: 100%;
        padding: 30px;
        height: 90px;
        background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)); 
        border-radius: 20px;
    }

    &_encadrement {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 20px;
        padding: 50px;

        a {
            margin: 25px;
            width: calc(100% / 3 - 50px);
        }
    }
}


@media screen and (max-width:1240px) {
    .gallery {
        &_encadrement  {
            padding: 20px;

            a {
                width: calc(100% / 2 - 50px);
            }
        }

        &_img {
            width: 100%;
        }
    }

}


@media screen and (max-width:768px) {

    .gallery {
        width: 350px;
        background-color: white;
        .gallery_article{
        width: 335px;
        } 

        &_title {
            font-size: 15px;
        }

        &_encadrement a {
            width: 100%;
        }

    }  
}