.logo {
  @include verticalCenter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  height: 220px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  background: url(../../../assets/img/Falaise.png) center/cover ;
  
  h1 {
  color: $white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  }
  
}

@media only screen and (width <= 768px) {
    .logo {
      @include verticalCenter;
      background: url(../../../assets/img/Falaise.png) center/cover;
  }
}
     

