.section_logo {
  @include verticalCenter;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  .logo {
    @include verticalCenter;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
    height: 223px;
    box-shadow: 1px 1px 5px grey;
    border-radius: 20px;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../../../assets/img/Falaise.png'); 
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    box-sizing: border-box;
  }
  .logo_h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
  }
}
@media screen and (max-width:768px) {

.section_logo .logo {
  width: 300px;
}

}