.logo {
  @include verticalCenter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  height: 220px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
  background: url(../../../assets/img/Falaise.png) center/cover ;
  filter: brightness(75%);

 .title{
  color: $white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  }
  
}


     

