.aboutlogo {
  @include verticalCenter;
  margin-bottom: 40px;
  width: 1240px;
  height: 223px;
  border-radius: 20px;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.307);
  background: url(../../../assets/img/mobile-about-background.png) center/cover;

}

.aboutgallery_cards {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 55px;
}


.collapsible {
  width: 100%;
  background-color: $color-2;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;

  &_encadrement {
    display: flex;
    justify-content: center;
    cursor: pointer;

  }

  &_p {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: $color-2;
  }
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}