/*secion_element*/
.detail {
    margin-left: 0;
    margin-right: 0;

}
.detail_element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 120px;
    margin-top: 30px;
}

.title {

    .h2_title {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
        margin: 0 auto;
        width: 635px;
        height: 51px;
    }

    .p_title {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        margin: 0;
        padding: 0;
        font-size: 18px;
        width: 200px;
        height: 26px;
        margin-top: 30px;

    }
}

.profil {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;

    .h3_title {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        margin-right: 15px;
        font-size: 18px;
        width: 93px;
        height: 52px;
    }

    .Host {
        width: 64px;
        height: 64px;
        border-radius: 50%;

    }
}

/*partie tag*/
.tag-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tag {
    display: flex;
    gap: 20px;
    
    .element {
        font-size: 14px;
        background-color: $color-2;
        padding: 20px;
        height: 25px;
        width: 115px;
        border-radius: 20px;
        color: $white;
    }

    p.element {
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}
.accord_collapse {
    display: flex;
    margin-left: 315px;
    gap: 90px;
}
.accord {
    background-color: $color-2;
    border-radius: 20px;
    width: 582px;
}
.accordion_content {
    background-color: #f5f5f5;
    height: 100px;
    color: $color-2;
    font-size: 16px;
}

.accordion_title {
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
    cursor: pointer;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    /* taille / */
    padding: 15px 15px 15px 15px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.024 11.263l-7.024 7.023-7.022-7.023-3.091 3.090 8.569 8.569c0.413 0.413 0.961 0.64 1.545 0.64s1.133-0.228 1.545-0.64l8.569-8.569-3.091-3.090z' fill='%23555555'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
    background-size: 40px;
} 
