/*secion_element*/
.detail {
    margin-left: 0;
    margin-right: 0;

    &_element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 1240px;
        margin-top: 20px;
    }
}

.title {
    &_h2 {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 10px;
        margin: 0 auto;
        height: 51px;
    }

    &_h3 {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        margin-right: 15px;
        font-size: 18px;
        width: 93px;
        height: 52px;
    }

    &_p {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        margin: 0;
        padding: 0;
        font-size: 18px;
        width: 200px;
        height: 26px;

    }

}

.profil {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;

    &_host {
        width: 64px;
        height: 64px;
        border-radius: 50%;

    }
}

/*Partie star*/
.rate-comp {
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
}

.star {
    width: 36px;
    height: 36px;
}


/*partie tag*/
.tag-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    display: flex;
    gap: 20px;

    .element {
        font-size: 14px;
        font-weight: 500;
        background-color: $color-2;
        height: 25px;
        width: 130px;
        border-radius: 20px;
        color: $white;
        cursor: pointer;
    }

    p.element {
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

@media screen and (max-width:1240px) {}


@media screen and (max-width:768px) {

    .title {
        &_h2 {
            width: 335px;
            height: 46px;
            font-size: 18px;
            font-weight: 500;
        }

        &_p {
            width: 323px;
            height: 22px;
            font-size: 14px;
            font-weight: 500;
        }


        .rate-comp {
            width: 100px;
            height: 20px;
        }

    }

}