/*secion_element*/
.detail_element {
    display: flex;
    width: 1240px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;

}

.profil_logement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    width: 635px;
    margin-bottom: 10px;

    &_h2 {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        font-size: 36px;
        font-weight: 500;
        margin: 0;
    }

    &_h3 {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        margin-right: 15px;
        font-size: 18px;
    }

    &_p {
        font-family: "Montserrat", sans-serif;
        color: $color-2;
        margin: 0;
        padding: 0;
        font-size: 18px;
        width: 200px;
    }

}

.profil {
    display: flex;
    justify-content: space-between;

    &_host {
        width: 64px;
        height: 64px;
        border-radius: 50%;

    }
}


/*partie tag*/
.tag-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    display: flex;
    gap: 20px;

    .element {
        font-size: 14px;
        font-weight: 500;
        background-color: $color-2;
        height: 30px;
        border-radius: 20px;
        color: $white;
        cursor: pointer;
        padding: 0 10px;

    }

    p.element {
        font-family: "Montserrat", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

/*Partie star*/
.rate-comp {
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
}

.star {
    width: 24px;
    height: 24px;
}

@media screen and (max-width:1240px) {
    .detail_element {
        display: flex;
        width: 768px;
    }
    .title {
        width: 335px;
        height: 50px;

        &_h2 {

            font-size: 20px;
            font-weight: 500;
        }

        &_p {
            font-size: 18px;
            font-weight: 500;
        }

        .rate-comp {
            width: 100px;
            height: 20px;
        }

    }
}

@media screen and (max-width:768px) {
    .detail_element {
        display: flex;
        flex-direction: column;
    }
    .profil_tag {
        width: 370px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }
    .profil_logement {
        width: 370px;
    }
.tag {
    width: 335px;
    height: 80px;
}
    .title {
        width: 335px;
        height: 50px;

        &_h2 {

            font-size: 18px;
            font-weight: 500;
        }

        &_p {
            font-size: 15px;
            font-weight: 500;
        }

        .rate-comp {
            width: 100px;
            height: 20px;
        }

    }

}