.evalutaion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tag {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  .element {
    font-size: 15px;
    background-color: $color-2;
    padding: 20px;
    height: 20px;
    width: 100px;
    border-radius: 20px;
  }
  p.element {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/*Gere les étoiles */
$stars: 5;
$star-size: 40px;
$star-spacing: 2px;
$star-on-color: $color-2;
$star-off-color: #CCCCCC;

.rating {
width: ($star-size * $stars) + ($star-spacing * ($stars - 1));
height: $star-size;
padding: 40px 50px;
margin-right: 100px;

label {
float: right;
position: relative;
width: $star-size;
height: $star-size;
cursor: pointer;

&:not(:first-of-type) {
  padding-right: $star-spacing;
}

&:before {
  content: "\2605";
  font-size: $star-size + 2px;
  color: $star-off-color;
  line-height: 1;
}
}

input {
display: none;
}

input:checked ~ label:before,
&:not(:checked) > label:hover:before,
&:not(:checked) > label:hover ~ label:before {
color: $star-on-color;
}
}